.layout {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: rgb(138, 236, 236);
	// main {
	// 	margin-top: 83px;
	// }
	// footer {
	// 	margin-top: auto;
	// }
}
