.TodoList {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	.content {
		margin-top: 5rem;
		.form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			h2 {
				color: rgb(28, 26, 26);
				font-size: 30px;
				font-weight: 750;
			}
      
		}
	}
}
